<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://s7.mogujie.cn/b7/bao/131009/q2grx_kqyuotkmkfbgowtwgfjeg5sckzsew_382x485.jpg_468x468.jpg</string>
	<string>http://zyvideo1.oss-cn-qingdao.aliyuncs.com/zyvd/7c/de/04ec95f4fd42d9d01f63b9683ad0</string>
	<string>https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png</string>
	<string>http://s13.mogujie.cn/b7/bao/131009/q0tu6_kqywgtcdkfbhgrcugfjeg5sckzsew_431x603.jpg_468x468.jpg</string>
	<string>http://s8.mogujie.cn/b7/bao/131010/sa0xe_kqyweulikfbdiwkugfjeg5sckzsew_1200x1800.jpg_468x468.jpg</string>
	<string>http://s13.mogujie.cn/b7/bao/131007/q0x5r_kqywu3swkfbdkrlwgfjeg5sckzsew_700x1017.jpg_468x468.jpg</string>
	<string>http://s12.mogujie.cn/b7/bao/131006/cur6k_kqyv63swkfbfqq3wgfjeg5sckzsew_466x700.jpg_200x999.jpg</string>
	<string>http://s12.mogujie.cn/b7/bao/131006/cur6k_kqyv63swkfbfqq3wgfjeg5sckzsew_466x700.jpg_468x468.jpg</string>
	<string>http://s6.mogujie.cn/b7/bao/131008/q0trc_kqyxm3smkfbdo6dwgfjeg5sckzsew_265x346.jpg_468x468.jpg</string>
	<string>http://s6.mogujie.cn/b7/bao/131008/q0trc_kqyxm3smkfbdo6dwgfjeg5sckzsew_265x346.jpg_200x999.jpg</string>
</array>
</plist>
