<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>150</string>
		<key>price</key>
		<string>0</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>120</string>
		<key>price</key>
		<string>0</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>140</string>
		<key>price</key>
		<string>0</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>150</string>
		<key>price</key>
		<string>0</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>160</string>
		<key>price</key>
		<string>2</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>120</string>
		<key>price</key>
		<string>1</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>110</string>
		<key>price</key>
		<string>0</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>150</string>
		<key>price</key>
		<string>0</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>100</string>
		<key>height</key>
		<string>150</string>
		<key>price</key>
		<string>0</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>110</string>
		<key>height</key>
		<string>140</string>
		<key>price</key>
		<string>1</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>115</string>
		<key>height</key>
		<string>145</string>
		<key>price</key>
		<string>2</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>125</string>
		<key>height</key>
		<string>130</string>
		<key>price</key>
		<string>3</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>155</string>
		<key>height</key>
		<string>150</string>
		<key>price</key>
		<string>4</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>90</string>
		<key>height</key>
		<string>120</string>
		<key>price</key>
		<string>5</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>170</string>
		<key>height</key>
		<string>150</string>
		<key>price</key>
		<string>6</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>60</string>
		<key>height</key>
		<string>90</string>
		<key>price</key>
		<string>7</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
	<dict>
		<key>width</key>
		<string>170</string>
		<key>height</key>
		<string>150</string>
		<key>price</key>
		<string>8</string>
		<key>icon</key>
		<string>1.png</string>
	</dict>
</array>
</plist>
