<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Block_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>arc_block.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>arc_block1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C9350251D1CDD8B006150A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9350301D1D04E0006150A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9C0A031B71E2890085CD69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C9C0A1C1B71E2890085CD69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
