<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>block2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>block3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>block4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>block5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>block_块.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CA7D27F1ABAB5DE00B014EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CA7D2981ABAB5DF00B014EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CE413CC1D19792E00EF840C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CF03EA11D1AD1F10042E683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CF03EAF1D1ADAD50042E683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CF03EC01D1AE1710042E683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
