<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>11.27.01结构体.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>定义结构体的方式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>指向结构体的指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>结构体与函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>结构体使用点语法赋值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>结构体内存细节.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>结构体数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C4C98481CF43D3F00913C47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CC1340E1C07FD96007F164D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CC1341C1C0804A6007F164D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CC134271C083284007F164D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CC134321C084200007F164D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CC1343D1C084D9E007F164D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CC134481C0946E3007F164D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
